/* .patient-form {
  background-color: black;
  color: #6c63ff;
  padding: 20px;
  border-radius: 5px;
}

.form-title {
  color: white;
}

.form-row {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.text-input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #6c63ff;
  color: #6c63ff;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.submit-button {
  background-color: #6c63ff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
} */
