*::-webkit-scrollbar {
  width: 0%;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #6c63ff;
  color: #fff;
  padding: 10px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  /* margin-left: 10px; */
}

.avatar-button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-right: 10px;
}

.avatar-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown {
  position: absolute;
  top: 60px;
  right: 10px;
  border: 1px solid #6c63ff;
  background-color: #0d0d0d;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.dropdown-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-list li {
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}

.navbar.transparent {
  background-color: rgba(14, 14, 14, 0.7);
}
