/* .medical-info-form {
  margin: 0 auto;
  padding: 20px;
  background-color: #222;
  color: #fff;
  padding-top: 10%;
  padding-bottom: 14%;
  padding-left: 30%;
}

.form-section {
  margin-bottom: 20px;
}

.disease-section {
  border: 8px double #6c63ff;
  padding: 20px;
  margin-bottom: 20px;
  width: 60%;
}

.form-row {
  margin-bottom: 10px;
}

.form-row label {
  display: inline-block;
  width: 40%;
  margin-right: 10px;
  vertical-align: top;
}

.text-input,
.date-input,
.textarea-input {
  width: 60%;
  padding: 5px;
  font-size: 16px;
  background-color: black;
  border-radius: 10px;
  height: 6vh;
  border: 1px solid #1b1b1b;
  font-size: 16px;
  transition: border-color 0.3s;
  color: white;
}

.radio-group label {
  display: inline-block;
  margin-right: 10px;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

.remove-button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.add-disease-button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

.submit-button {
  background-color: #6c63ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  width: 59%;
  cursor: pointer;
} */

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 130%;
  pointer-events: auto;
  background-color: #222;
  background-clip: padding-box;
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  border: 1px solid #6c63ff;
  color: white;
}
