.custom-data-table {
  background-color: #222;
  padding: 20px;
  padding-top: 10%;
  padding-bottom: 30%;
}

.filters {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  padding: 10px;
  text-align: left;
}

.data-table th {
  background-color: #6c63ff;
  color: white;
}

.data-table tbody tr:nth-child(even) {
  background-color: black;
  color: white;
}
.data-table tbody tr:nth-child(odd) {
  background-color: black;
  color: white;
}
.data-table tbody tr:hover {
  background-color: #5048f0;
  color: white;
  cursor: pointer;
}

.filters input,
.filters button {
  background-color: #222;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.filters input[type='text'] {
  width: 200px;
  border: 3px solid #6c63ff;
}

.filters button {
  font-weight: bold;
}

.filters input[type='text']:focus {
  outline: none;
}

.filters button:hover {
  background-color: #493ef1;
}
